# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data = pd.read_csv("../WeatherPy/weather_data.csv")

weather_data

,City,Country,Date,Latitude,Longitude,Temperatrue,Humidity,Cloudiness,Wind Speed
0,Puteyets,RU,1612828631,65.1716,57.0910,-13.99,89,100,5.75
1,Forsytheganj,BY,1612828631,52.6333,29.7333,14.47,96,100,19.44
2,Torbay,CA,1612828631,47.6666,-52.7314,32.00,100,90,29.93
3,Yellowknife,CA,1612828631,62.4560,-114.3525,-27.40,68,90,17.27
4,Barrow,US,1612828631,71.2906,-156.7887,-31.00,84,1,11.50
...,...,...,...,...,...,...,...,...,...
572,Tsagan Aman,RU,1612828720,47.5639,46.7218,21.61,75,100,8.08
573,Singarāyakonda,IN,1612828720,15.2500,80.0333,67.60,85,30,4.38
574,Gizo Government Station,SB,1612828720,-8.1030,156.8419,85.06,71,91,8.63
575,Los Llanos de Aridane,ES,1612828721,28.6585,-17.9182,64.40,63,75,8.05
576,Khandyga,RU,1612828721,62.6667,135.6000,-28.84,83,41,2.42

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
#get lat and long data 
location = weather_data[["Latitude", "Longitude"]]

In [7]:
#get humidity
humidity = weather_data["Humidity"]

In [11]:
#add heat layer to map 
fig = gmaps.figure(center=(46.0 , -5.0), zoom_level=2)
max_intensity = np.max(humidity)

#create layer
heat_layer = gmaps.heatmap_layer(location, weights = humidity, dissipating = False, max_intensity=100, point_radius=3)

#add layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [50]:
#my ideal weather criteria would be... 
#temp between 60 and 75
#wind speed less than 20mph
#60% or less cloudiness (i like cloudy days)
#humidity below 20% 

ideal_city = weather_data.loc[(weather_data["Temperatrue"] >= 60) & (weather_data["Temperatrue"] < 75) & 
                            (weather_data["Wind Speed"] < 20) & (weather_data["Cloudiness"] < 90) & 
                              (weather_data["Humidity"] < 30)].dropna()

ideal_city

,City,Country,Date,Latitude,Longitude,Temperatrue,Humidity,Cloudiness,Wind Speed
111,Broken Hill,AU,1612828551,-31.9500,141.4333,73.40,28,0,9.22
160,Saint George,US,1612828655,37.1041,-113.5841,64.00,15,1,3.44
162,Truth or Consequences,US,1612828436,33.1284,-107.2528,73.40,6,1,14.97
203,Yambio,SS,1612828662,4.5721,28.3955,66.79,29,84,2.55
236,Tanout,NE,1612828667,14.9709,8.8879,64.67,22,4,11.52
310,Dori,BF,1612828678,14.0354,-0.0345,74.89,18,20,7.67
382,Taoudenni,ML,1612828690,22.6783,-3.9836,62.74,27,0,9.42
497,Ouadda,CF,1612828708,8.0777,22.4007,63.30,28,67,6.40
499,Kumo,NG,1612828709,10.0447,11.2122,70.61,21,19,6.46
531,Meadow Lake,US,1612828714,34.8014,-106.5436,66.99,6,75,10.36
551,Bilma,NE,1612828717,18.6853,12.9164,66.94,22,75,7.38

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [51]:
hotel_df = ideal_city.loc[: , ["City", "Country", "Latitude", "Longitude"]]

hotel_df

                      City Country  Latitude  Longitude
111            Broken Hill      AU  -31.9500   141.4333
160           Saint George      US   37.1041  -113.5841
162  Truth or Consequences      US   33.1284  -107.2528
203                 Yambio      SS    4.5721    28.3955
236                 Tanout      NE   14.9709     8.8879
310                   Dori      BF   14.0354    -0.0345
382              Taoudenni      ML   22.6783    -3.9836
497                 Ouadda      CF    8.0777    22.4007
499                   Kumo      NG   10.0447    11.2122
531            Meadow Lake      US   34.8014  -106.5436
551                  Bilma      NE   18.6853    12.9164

In [52]:
#add hotel name to DF 
hotel_df["Hotel Name"] = ""

hotel_df

                      City Country  Latitude  Longitude Hotel Name
111            Broken Hill      AU  -31.9500   141.4333
160           Saint George      US   37.1041  -113.5841
162  Truth or Consequences      US   33.1284  -107.2528
203                 Yambio      SS    4.5721    28.3955
236                 Tanout      NE   14.9709     8.8879
310                   Dori      BF   14.0354    -0.0345
382              Taoudenni      ML   22.6783    -3.9836
497                 Ouadda      CF    8.0777    22.4007
499                   Kumo      NG   10.0447    11.2122
531            Meadow Lake      US   34.8014  -106.5436
551                  Bilma      NE   18.6853    12.9164

In [73]:
#set url & parameters to search for hotels within 5000 meters
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#for some reason it wasn't taking my g_key!!!
g_key = "AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI"

#setup parameters
params = {"type" : "hotel", "keyword" : "hotel", "radius" : 5000, "key" : g_key}

In [77]:
#use google API to generate lat and long data 

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    city = row["City"]
    
    #print(f"The lat is {lat} and the lng is {lng}")
    #print(f"The city is {city}")
          
    params["location"] = f"{lat},{lng}"
    
    print(params)
    
    response = requests.get(url, params=params).json()
    
    results = response['results']

    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing data, moving on...")

{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '-31.95,141.4333'}
{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '37.1041,-113.5841'}
{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '33.1284,-107.2528'}
{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '4.5721,28.3955'}
{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '14.9709,8.8879'}
Missing data, moving on...
{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '14.0354,-0.0345'}
{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '22.6783,-3.9836'}
Missing data, moving on...
{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '8.0777,22.4007'}
Missing data, moving on...
{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '10.0447,11.2122'}
{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '34.8014,-106.5436'}
Missing data, moving on...
{'type': 'hotel', 'keyword': 'hotel', 'radius': 5000, 'key': 'AIzaSyD74ai5lzTnAdvdtsKqthsBCSlEzG3Y-jI', 'location': '18.6853,12.9164'}
Missing data, moving on...

In [78]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
111,Broken Hill,AU,-31.9500,141.4333,Royal Exchange Hotel
160,Saint George,US,37.1041,-113.5841,"The Advenire, Autograph Collection"
162,Truth or Consequences,US,33.1284,-107.2528,Sierra Grande Lodge & Spa
203,Yambio,SS,4.5721,28.3955,Tourist Hotel
236,Tanout,NE,14.9709,8.8879,Tânout
310,Dori,BF,14.0354,-0.0345,Dintal Hotel
382,Taoudenni,ML,22.6783,-3.9836,Taoudenni
497,Ouadda,CF,8.0777,22.4007,Ouadda
499,Kumo,NG,10.0447,11.2122,Ajegunle Lodge(corpers Lodge)
531,Meadow Lake,US,34.8014,-106.5436,Meadow Lake
551,Bilma,NE,18.6853,12.9164,Bilma

In [80]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [82]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))